body
{
	margin: 0px;
	padding: 0px;
	background: url("bg.png") fixed center;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}	

li, a, button
{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 25px;
	text-decoration: none;
}

a:is(:link, :active, :visited).active
{
	color: white;
}

.welcome
{
	margin-top: 100px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
}

.nav-logo
{
	width: 70px;
	border-radius: 25px;
	margin-left: 5px;
}

.navbar
{
	box-shadow: 5px 5px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	padding-left: 5px;
	height: 70px;
}

.navbar-pos
{
	position: fixed;
	top: 0;
	margin-left: 360px;
}

.navbar-nav
{
	margin-left: auto;
}

.div1-welcome
{
	margin-top: 30px;
	margin-right: 370px;
	margin-bottom: 150px; 
	background-color: white;
	padding: 10px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: right;
	
}

.div2-welcome
{
	margin-top: 30px;
	margin-left: 370px;
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: left;
	
}

.div1-about
{
	margin-top: 140px;
	margin-right: 370px;
	margin-bottom: 130px; 
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: right;
	
}

.div2-about
{
	margin-top: 70px;
	margin-left: 370px;
	margin-bottom: 130px;
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: left;
	
}

.div1-prep
{
	margin-top: 90px;
	margin-left: 40px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: left;
	
}

.div2-textadv
{
	margin-top: 90px;
	margin-left: 40px;
	float: none;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: left;
}

.div3-arcade
{
	margin-top: 90px;
	margin-right: 40px;
	margin-bottom: 50px; 
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: right;
	
}

.div5-final
{
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 50px; 
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: right;
}

.div35-gamejam-bild
{
	margin-top: 30px;
	margin-left: 60px;
	width: 430px;
	border-radius: 25px;
	border: 5px solid;
}

.toolandlang
{
	margin: 40px 40px 40px 40px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	float: right;
}

.art
{
	margin-top: 70px;
	margin-left: 40px;
	margin-bottom: 140px;
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 672px;
	float: left;
}

.div-art1
{
	float: left;
	margin-right: 10px;
}

.div-art2
{
	margin-left: 10px;
	float: right;
}

.div-art3
{
	margin-left: 205px;
}

.toolandsoft
{
	margin-top: 40px;
	margin-bottom: 50px;
	margin-right: 140px; 
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 1000px;
	float: right;
}

.spelbilder
{
	padding: 7px;
	width: 255px;
	border-radius: 15px;
}

.karta
{
	float: right;
	width: 260px;
	padding-top: 60px;
	padding-right: 20px;
}

.artstyle
{
	float: right;
	width: 260px;
	padding-top: 20px;
	padding-right: 30px;
}

.googlemaps-div
{
	margin-bottom: 140px;
	margin-top: 130px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
}

.maps
{
	border-radius: 17px;
}

.footer 
{
  box-shadow: 10px 10px 10px 10px;	
  position: fixed;
  bottom: 0;
  width: 1990px;
  height: 90px;
  background-color: #4d4d4d;
  color: white;
}

.contact-follow
{
	float: right;	
}

.apply
{
	
}