body
{
	margin: 0px;
	padding: 0px;
	background: url("bg.png") fixed center;
	overflow: scroll;
	background-repeat: no-repeat;
}

li, a, button
{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 25px;
	text-decoration: none;
}

a:is(:link, :active, :visited).active
{
	color: white;
}

.welcome
{
	margin-top: 140px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
}

.logo
{
	width: 70px;
	border-radius: 25px;
	margin-left: 5px;
}

.navbar
{
	box-shadow: 5px 5px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	padding-left: 5px;
}

.navbar-pos
{
	position: fixed;
	top: 0;
	margin-left: 360px; 
	transition: top 0.3s;
}

.navbar-nav
{
	margin-left: auto;
}

.div1-welcome
{
	margin-top: 70px;
	margin-right: 370px;
	margin-bottom: 50px; 
	background-color: white;
	padding: 10px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: right;
	
}

.div2-welcome
{
	margin-top: 70px;
	margin-left: 370px;
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: left;
	
}

.div1-about
{
	margin-top: 140px;
	margin-right: 370px;
	margin-bottom: 50px; 
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: right;
	
}

.div2-about
{
	margin-top: 70px;
	margin-left: 370px;
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 550px;
	float: left;
	
}

.div1-prep
{
	margin-top: 130px;
	margin-left: 40px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: left;
	
}

.div2-textadv
{
	margin-top: 130px;
	margin-left: 40px;
	float: none;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: left;
}

.div3-arcade
{
	margin-top: 130px;
	margin-right: 40px;
	margin-bottom: 50px; 
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: right;
	
}

.div5-final
{
	margin-top: 80px;
	margin-right: 40px;
	margin-bottom: 50px; 
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 570px;
	float: right;
}

.div35-gamejam-bild
{
	margin: 15px;
	margin-left: 60px;
	width: 430px;
	border-radius: 25px;
	border: 5px solid;
}

.toolandlang
{
	margin: 40px 40px 40px 40px;
	background-color: white;
	padding: 30px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	float: right;
}

.art
{
	margin-top: 70px;
	margin-left: 40px;
	margin-bottom: 40px;
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 672px;
	float: left;
}

.div-art1
{
	float: left;
	margin-right: 10px;
}

.div-art2
{
	margin-left: 10px;
	float: right;
}

.div-art3
{
	margin-left: 205px;
}

.toolandsoft
{
	margin-top: 40px;
	margin-bottom: 50px;
	margin-right: 40px; 
	background-color: white;
	padding: 15px;
	box-shadow: 10px 10px 10px 10px;
	border-radius: 25px;
	font-size: 18px;
	width: 1000px;
	float: right;
}

.spelbilder
{
	padding: 7px;
	width: 255px;
	border-radius: 15px;
}

.map
{
	float: right;
	width: 260px;
	padding-top: 60px;
	padding-right: 20px;
}

.artstyle
{
	float: right;
	width: 260px;
	padding-top: 20px;
	padding-right: 30px;
}
